<% if @posts %>
    <% @posts.each do |item| %>
        <section class="post-container">
        <%= image_tag(eval(item.book_data)["imageLink"]) %>
        <div class="content">
            <!-- 感想をdata属性としてタグの中に含ませておく -->
            <p class = "post-name" data-post-content = <%= item.content %> data-post-id = <%= item.id %> data-user-id = <%= item.user_id %>><%= item.post_name %></p>
            <!-- gsubメソッドを用いることで第１引数の値を第２引数の値で置き換えることができる -->
            <p>作成日時:<%= (item.created_at.getlocal("+09:00")).to_s.gsub("+0900" , "") %></p>
        </div>
        <p class = "good-content"><%= link_to image_tag("good.svg" , class: "good-img") , "/posts/good_counter/#{item.user_id}/#{item.id}" %><%= item.who_goods.count %></p>
        <% if current_user?(@user) %>
            <%= link_to image_tag("edit.svg") , "/posts/edit/#{item.id}" , class: "edit-btn" %>
        <% end %>
        <%= link_to "詳細を見る" , "/posts/#{item.user_id}/#{item.id}" , class: "view-post-btn"%>
        </section>
    <% end %>
<% end %>