<% provide(:title , "マイ本棚") %>
<section class="select-tab" id = "select-tab">
    <% if @type == 1 %>
      <div class="unread add-check" id = "unread">
          <%= link_to "未読"  , "/shelfs/1" %>
      </div>
      <div class="read" id = "read">
        <%= link_to "読了" , "/shelfs/0" %>
      </div>
    <% else %>
      <div class="unread" id = "unread">
        <%= link_to "未読"  , "/shelfs/1" %>
      </div>
      <div class="read add-check" id = "read">
        <%= link_to "読了" , "/shelfs/0" %>
      </div>
    <% end %>    
</section>
<div class="shelf-caution">
  <% if @type == 1 %>
    <p>*未読の本を読了に変更するには右上の✓ボタンを押してください(感想を投稿するには読了にする必要があります)</p>
  <% else %>
    <p>*投稿を作成するには右上の🖋ボタンを押してください(既に投稿を作成済みの本に関しては表示されません)</p>
    <p>*「未読」に戻すには左下の←ボタンを押してください</p>
  <% end %>
</div>
<section class="my-shelf-container" id = "my_shelf_container">
    <% if !@my_shelf.empty? %>
      <!-- この部分ではコレクションをパーシャルに渡すことでコレクションの各要素に対してパーシャル内でshelfという変数を用いてアクセスできることを利用している -->
      <%= render partial: "shelfs/shelf" , collection: @my_shelf %>
    <% end %>
</section>
<%= paginate @my_shelf , theme: "bootstrap-5" %>

  