<section class="view-profile-container">
    <% if current_user?(@user) %>
      <%= link_to image_tag("edit.svg") , "/users/profile_edit/#{@user.id}" , class: "edit-profile-btn" %>
    <% end %>
    <%= image_tag gravatar_for(@user), class: "profile-img" %>
    <div class="profile-container">
        <h3><%= @user.name %></h3>
        <div class="user-info">
            <p>年齢: <%= @age %>歳 | 性別: <%= @gender %> | 職業: <%= @user.occupations %></p>
            <% if @year == 0 %>
              <p>読書歴: <%= "#{@month}か月" %> | 好きなジャンル: <%= @user.favorite_genre %></p>
            <% else %>
              <p>読書歴: <%= "#{@year}年#{@month}か月" %> | 好きなジャンル: <%= @user.favorite %></p>
            <% end %>
        </div>
        
        
        <p class = "favorite-p">📖おすすめの本TOP3:</p>
        <div class="top3">
            <section class="profile-view-container">
                <% if @top3["top_1"] != "未設定" %>
                  <div class="top3_number">
                    <p>1</p>
                  </div>
                  <% post = @user.goods.find(@top3["top_1"]) %>
                  <%= image_tag(eval(post.book_data)["imageLink"]) %>
                  <div class="content">
                    <!-- 感想をdata属性としてタグの中に含ませておく -->
                    <p class = "post-name"><%= eval(post.book_data)["title"] %></p>
                    <!-- gsubメソッドを用いることで第１引数の値を第２引数の値で置き換えることができる -->
                    <p>作者: <%= eval(post.book_data)["author"].to_s.gsub(/[\[\]"]/ , "") %></p>
                  </div>
                  <%= link_to "詳細を見る" , "/posts/#{post.user_id}/#{post.id}" , class: "view-post-btn"%>
                <% else %>
                  <p>未設定</p>
                <% end %>   
            </section>
            <section class="profile-view-container">
                <% if @top3["top_2"] != "未設定" %>
                  <div class="top3_number">
                    <p>2</p>
                  </div>
                  <% post = @user.goods.find(@top3["top_2"]) %>
                  <%= image_tag(eval(post.book_data)["imageLink"]) %>
                  <div class="content">
                  <!-- 感想をdata属性としてタグの中に含ませておく -->
                  <p class = "post-name"><%= eval(post.book_data)["title"] %></p>
                  <!-- gsubメソッドを用いることで第１引数の値を第２引数の値で置き換えることができる -->
                  <p>作者: <%= eval(post.book_data)["author"].to_s.gsub(/[\[\]"]/ , "") %></p>
                  </div>
                  <%= link_to "詳細を見る" , "/posts/#{post.user_id}/#{post.id}" , class: "view-post-btn"%>
                <% else %>
                  <p>未設定</p>
                <% end %>
            </section>
            <section class="profile-view-container">
                <% if @top3["top_3"] != "未設定"%>
                  <div class="top3_number">
                    <p>3</p>
                  </div>
                  <% post = @user.goods.find(@top3["top_3"]) %>
                  <%= image_tag(eval(post.book_data)["imageLink"]) %>
                  <div class="content">
                    <!-- 感想をdata属性としてタグの中に含ませておく -->
                    <p class = "post-name"><%= eval(post.book_data)["title"] %></p>
                    <!-- gsubメソッドを用いることで第１引数の値を第２引数の値で置き換えることができる -->
                    <p>作者: <%= eval(post.book_data)["author"].to_s.gsub(/[\[\]"]/ , "") %></p>
                  </div>
                  <%= link_to "詳細を見る" , "/posts/#{post.user_id}/#{post.id}" , class: "view-post-btn"%>
                <% else %>
                  <p>未設定</p>
                <% end %>
            </section>
        </div>
    </div>
</section>
<%= link_to "ユーザ画面に戻る" , "/users/#{@user.id}/1" , class: "back-btn" %>