<div class="episode-container">
    <% user = episode.user %>
    <div class="episode-info">
        <%= image_tag gravatar_for(user) , class: "episode-icon" %>
        <p>作成日時:<br><%= episode.episode_update_time.to_s.gsub("+0900" , "") %></p>
        <p style = "font-size: 18px; font-weight: 600; text-shadow: -4px 5px 3px grey; font-family: Caveat, cursive;"><%= user.name %></p>
        <%= link_to "プロフィールへ" , "/users/#{user.id}/1" , class: "to-profile" %>
    </div>
    <div class="episode-content">
        <p style = "border-bottom: 1px solid black;"><%= episode.title %></p>
        <div>
            <%= link_to "→このエピソードを詳しくみる" , "/episodes/#{user.id}" %>
        </div>
    </div>
</div>