<% provide(:title, "エピソード一覧") %>
<h1 class = "new-title">エピソード一覧</h1>
<section class="view-episode-container">
  <section class="episodes-container" id = "episodes-container">
  <% if !@episodes.nil? %>
    <!-- パーシャルを利用して取得できた複数の要素を各パーツごとにパーシャルに当てはめている -->
    <%= render @episodes %>
  <% else %>
    <p>絞込結果に一致する検索結果がありません</p>
  <% end %>
  </section>
  <section class="info-container">
    <h3>絞込検索</h3>
    <%= form_with url: "/episodes/turbo_stream_index" , scope: :sort_info , method: :post , data: {turbo: true }  do |f| %>
      <%= f.label :age , "年齢:" %>
      <div id="sort-info-age">
        <%= f.number_field :lower_age , class: "age-field" %>
        <p style = "display: inline;">～</p>
        <%= f.number_field :upper_age , class: "age-field" %>
      </div>
      <div class = "gender">
        <%= f.label :gender, "性別:" , style: "display: block; text-align: start" %>
        <%= f.select :gender, 
                        [["男性", "男性"], 
                         ["女性", "女性"], 
                         ["ノンバイナリー", "ノンバイナリー"], 
                         ["その他", "その他"], 
                         ["回答しない", "回答しない"]], 
                        { prompt: "性別" }, 
                        { id: "gender" } %>
      </div>
      <%= f.label :order, "表示順:" , style: "display: block; text-align: start" %>
        <%= f.select :order, 
                        [["作成日時", "作成日時"], 
                         ["読書歴", "読書歴"], 
                         ["年齢", "年齢"]], 
                        { prompt: "表示順" }, 
                        { id: "order" } %>
      <%= f.label :sort, "ソート順:" , style: "display: block; text-align: start"%>
      <%= f.select :sort, 
                      [["昇順", "昇順"], 
                       ["降順", "降順"],], 
                      { prompt: "ソート順" }, 
                      { id: "sort" } %>
      <%= f.submit "変更" %>                  
    <% end %>
  </section>
</section>

<% if !@users.nil? %>
  <%= paginate @users , theme: "bootstrap-5" %>
<% end %>