<% provide(:title, "投稿一覧") %>
<% if !@posts.empty? %>
  <section class="parent">
    <h1 class = "new-title">フォロー中ユーザの投稿一覧</h1>
    <div class="btn-group dropup" id = "btn-group">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id = "view-style-btn-feed">
        <% if @type == "1" %>
          新しい順
        <% elsif @type == "2" %>
          古い順
        <% else %>
          いいね順
        <% end %>
      </button>
      <ul class="dropdown-menu" id = "view-style-feed">
        <li><%= link_to "古い順" , "/posts/feed/2?page=#{@page}"  , class: "dropdown-item" %></li>
        <li><%= link_to "新しい順" , "/posts/feed/1?page=#{@page}"  , class: "dropdown-item" %></li>
        <li><%= link_to "いいね順" , "/posts/feed/3?page=#{@page}" , class: "dropdown-item" %></li>
      </ul>
    </div>
    <section class = "posts-container" id = "posts-container-feed" >
      <% @posts.each do |item| %>
        <section class="post-container">
          <%= image_tag(eval(item.book_data)["imageLink"]) %>
          <div class="content">
            <!-- 感想をdata属性としてタグの中に含ませておく -->
            <p class = "post-name" data-post-content = <%= item.content %> data-post-id = <%= item.id %> data-user-id = <%= item.user_id %>><%= item.post_name %></p>
            <!-- gsubメソッドを用いることで第１引数の値を第２引数の値で置き換えることができる -->
            <p>作成日時:<%= (item.created_at.getlocal("+09:00")).to_s.gsub("+0900" , "") %></p>
          </div>
          <% if item.who_goods.include?(current_user) %>
              <p class = "good-content" id = "good-content-<%= item.id %>"><%= link_to image_tag("good.png" , class: "good-img") , "/posts/turbo_stream_good_remover/#{item.id}" , data: { turbo_stream: true } %><%= item.who_goods.count %></p>
          <% else %>
              <p class = "good-content" id = "good-content-<%= item.id %>"><%= link_to image_tag("hearts.svg" , class: "good-img") , "/posts/turbo_stream_my_goods/#{item.id}" , data: { turbo_stream: true } %><%= item.who_goods.count %></p>
          <% end %>
          <% if current_user?(User.find(item.user_id)) %>
            <%= link_to image_tag("edit.svg") , "/posts/edit/#{item.id}" , class: "edit-btn" %>
          <% else %>
            <%= image_tag gravatar_for(User.find(item.user_id)) , class: "feed-icon" %>
          <% end %>
          <%= link_to "詳細を見る" , "/posts/#{item.user_id}/#{item.id}" , class: "view-post-btn"%>
        </section>
      <% end %>
    </section>
    <%= paginate @posts, theme: "bootstrap-5" %>
  </section>
<% else %>
  <div class = "no_goods">
    <p>*フォロー中のユーザの投稿はありません</p>
  </div>
<% end %>


