<% provide(:title, "#{User.find(@user_id).name}γ•γ‚“γ®ζ•η¨Ώ") %>
<h1 class = "new-title"><%= "#{User.find(@user_id).name}γ•γ‚“γ®ζ•η¨Ώ" %></h1>
<section class="view-post-container">
    <div class="post-image">
        <%= image_tag eval(@post.book_data)["imageLink"] %>
        <p><%= eval(@post.book_data)["title"] %></p>
        <p><%= eval(@post.book_data)["author"].to_s.gsub(/[\[\]"]/ , "") %></p>
        <p>γ‚Έγƒ£γƒ³γƒ«: <%= @post.genre %></p>

    </div>
    <div class="post-main-content">
        <h2>π“–<%= @post.post_name %></h2>
        <div class = "content">
            <p><%= @post.content %></p>
        </div>
        <div class="evaluations">
            <div>
                <label for="readability">θ­γΏγ‚„γ™γ•(1ο½5)</label>
                <p id = "readability"><%= @post.readability %></p>
            </div>
            <div>
                <label for="convenience">ζ‰‹θ»½γ•(1ο½5)</label>
                <p id = "convenience"><%= @post.convenience %></p>
            </div>
            <div>
                <label for="recommendation">εεΏƒθ€…γΈγ®γγ™γ™γ‚εΊ¦(1ο½5)</label>
                <p id = "recommendation"><%= @post.recommendation %></p>
            </div>
        </div>
    </div>
</section>