<% provide(:title, "#{User.find(@user_id).name}γ•γ‚“γ®ζ•η¨Ώ") %>
<section class="view-post-container">
    <div class="post-image">
        <%= image_tag eval(@post.book_data)["imageLink"] %>
        <div>
          <p>ο½<%= eval(@post.book_data)["title"] %>ο½</p>
          <p>δ½θ€…: <%= eval(@post.book_data)["author"].to_s.gsub(/[\[\]"]/ , "") %></p>
          <p>ε‡Ίη‰η¤Ύ: <%= eval(@post.book_data)["publisher"] %></p>
          <p>γ‚Έγƒ£γƒ³γƒ«: <%= @post.genre %></p>
        </div>

    </div>
    <div class="post-main-content">
        <h2>π“–<%= @post.post_name %></h2>
        <div class = "content">
            <p><%= @post.content %></p>
            <div class="scrollable-hint">
                <div>
                    <%= image_tag "finger.png" %>
                </div>
            </div>
        </div>
        <div class="evaluations">
            <div>
                <label for="readability">θ­γΏγ‚„γ™γ•(5ζ®µι)</label>
                <p id = "readability">
                    <% 5.times do |n| %>
                      <% if n <= @post.readability.to_i - 1 %>
                        <%= image_tag "yellow-star.svg" , class: "star-image" %>
                      <% else %>
                        <%= image_tag "black-star.svg" , class: "star-image" %>
                      <% end %>
                    <% end %>
                </p>
            </div>
            <div>
                <label for="convenience">ζ‰‹θ»½γ•(5ζ®µι)</label>
                <p id = "convenience">
                    <% 5.times do |n| %>
                      <% if n <= @post.convenience.to_i - 1 %>
                        <%= image_tag "yellow-star.svg" ,class: "star-image" %>
                      <% else %>
                        <%= image_tag "black-star.svg" , class: "star-image" %>
                      <% end %>
                    <% end %>
                </p>
            </div>
            <div>
                <label for="recommendation">εεΏƒθ€…γΈγ®γγ™γ™γ‚εΊ¦(5ζ®µι)</label>
                <p id = "recommendation">
                    <% 5.times do |n| %>
                      <% if n <= @post.recommendation.to_i - 1 %>
                        <%= image_tag "yellow-star.svg" , class: "star-image" %>
                      <% else %>
                        <%= image_tag "black-star.svg" , class: "star-image" %>
                      <% end %>
                    <% end %>
                </p>
            </div>
        </div>
    </div>
</section>
<% redirect_path = request.referer %>
<% if redirect_path.nil? %>
  <%= link_to "ζ»γ‚‹" , "/users/#{@user_id}/1" , class: "back-btn" %>
<% else %>
  <%= link_to "ζ»γ‚‹" , redirect_path , class: "back-btn" %>
<% end %>


