<% provide(:title, "#{User.find(@user_id).name}γ•γ‚“γ®ζ•η¨Ώ") %>
<section class="view-post-container">
    <div class="post-image">
        <%= image_tag eval(@post.book_data)["imageLink"] %>
        <div>
          <p>ο½<%= eval(@post.book_data)["title"] %>ο½</p>
          <p><%= eval(@post.book_data)["author"].to_s.gsub(/[\[\]"]/ , "") %></p>
          <p>γ‚Έγƒ£γƒ³γƒ«: <%= @post.genre %></p>
        </div>

    </div>
    <div class="post-main-content">
        <h2>π“–<%= @post.post_name %></h2>
        <div class = "content">
            <p><%= @post.content %></p>
        </div>
        <div class="evaluations">
            <div>
                <label for="readability">θ­γΏγ‚„γ™γ•(1ο½5)</label>
                <p id = "readability"><%= @post.readability %></p>
            </div>
            <div>
                <label for="convenience">ζ‰‹θ»½γ•(1ο½5)</label>
                <p id = "convenience"><%= @post.convenience %></p>
            </div>
            <div>
                <label for="recommendation">εεΏƒθ€…γΈγ®γγ™γ™γ‚εΊ¦(1ο½5)</label>
                <p id = "recommendation"><%= @post.recommendation %></p>
            </div>
        </div>
    </div>
</section>
<% redirect_path = request.referer %>
<% if redirect_path.nil? %>
  <%= link_to "ζ»γ‚‹" , "/users/#{@user_id}/1" , class: "back-btn" %>
<% else %>
  <%= link_to "ζ»γ‚‹" , redirect_path , class: "back-btn" %>
<% end %>