<aside class="sidebar">
    <ul>
        <li><%= link_to "検索" , '#' %></li>
        <li><%= link_to "新規投稿" , '#' %></li>
        <li><%= link_to "いいね一覧" , '#' %></li>
        <% if current_user %>
          <li><%= link_to "プロフィール" , user_path(current_user) %></li>
        <% else %>
          <li><%= link_to "ログイン" , login_path %></li>
        <% end %>
        <li><%= image_tag("close-btn.svg" , class: "close-icon") %></li>
    </ul>
</aside>